
.btn-custom{
  border: transparent;
  background-color: #C1B6A4;
}
.back{
  background-color: #C1B6A4
  ;
}
.container{
  background-color: #E1DACA;
}
.flex2{
  background-color: #343131;
}
.flex3{
  background-color: #C67684;
}

